:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-950: #1a1a1a;
  --color-grey-900: #333333;
  --color-grey-500: #737373;
  --color-grey-200: #d9d9d9;
  --color-grey-100: #eeeeee;
  --color-grey-50: #fafafa;
  --color-blue-800: #0330d1;
  --color-blue-500: #2d68ff;
  --color-purple-950: #302267;
  --color-purple-600: #633cff;
  --color-purple-300: #beadff;
  --color-red-550: #ee3939;
  --color-red-500: #ff3939;
  --color-pink-900: #8a1a50;
  --color-pink-400: #f4a28c;
  --color-orange-600: #ec7100;
  --color-orange-500: #eb4925;

  --card-title-color: var(--color-black);
  --card-desc-color: var(--color-grey-500);
}
